@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: hsl(139, 53, 25);
}

.card{
    

    border-radius: 7%;

    background-color: white;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 24px;
}

.mini{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    border-radius: 7%;

    background-color: blue;
}